h1 {
    text-align: center;
}
td {
    width: 100px;
    height: 100px;
}
table {
    margin: 5px auto;
}
.vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
body {
    /*padding: 15px;*/
    padding-top: 1em;
    font-family: sans-serif;
    color: #333;
}
#gameTable td {
    font-size: 3.4em;
    padding: 3% 6%;  /* With "%" padding is based on container's width */
    margin: 0 4%;
    border-radius: 0.3em;
    cursor: pointer;  /* Visually show that you can interact with the button */
    color: #333;
}